<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Recipe Saver</h1>
        <div class="container">
            <div class="ingredients-section section">
                <h2>Please enter your ingredients below:</h2>
                <form action="/output" method="GET">
                    <textarea name="ingredient_list" style="width:400px;height:250px;"></textarea>
                    <br>
                    <input type="submit" formaction="/output" value="submit" style="width:400px;margin:10px;background-color:#FF6B6B;border-radius:10px;height:50px;">
                </form>
            </div>
            <div class="recipe-section section">
                <h2>Alternatively, choose a saved recipe:</h2>
                <!--insert saved recipes here-->
            </div>
        </div>

    </body>
</html>