<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Recipe Saver</h1>
        <div>
            <div class="container">
            <div class="supermarket-card aldi">
                <h3>ALDI</h3>
                <p>£{{ aldi_price }}</p>
            </div>
            <div class="supermarket-card morrisons">
                <h3>Morrisons</h3>
                <p>£{{ morrisons_price }}</p>
            </div>
            <div class="supermarket-card tesco">
                <h3>TESCO</h3>
                <p>£{{ tesco_price }}</p>
            </div>
        </div>

            <!--<h2>Cheapest Overall Shop</h2>-->

            <!--Insert horizontal cards here-->

            <!--<h2>Your Ingredients:</h2>-->

            <!--Insert list of ingredients here-->

            <!--Insert button to save recipe here-->

        </div>

    </body>
</html>
