<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Recipe Saver</h1>
        <div>
            <div class="container">
                <div class="supermarket-card aldi">
                    <h3>ALDI</h3>
                    <p>£{{ aldi_price }}</p>
                </div>
                <div class="supermarket-card morrisons">
                    <h3>Morrisons</h3>
                    <p>£{{ morrisons_price }}</p>
                </div>
                <div class="supermarket-card tesco">
                    <h3>TESCO</h3>
                    <p>£{{ tesco_price }}</p>
                </div>
            </div>

            <h2>Cheapest Overall Shop</h2>
            <h3>{{ cheapest_store }}</h3>

            <h2>Total Savings</h2>
            <h3>£{{ mixed_basket_savings }}</h3>

            <h2>Cheapest shop per ingredient</h2>
            {% for key, value in cheapest_per_ingredient.items() %}
                <h3>{{ key|e }}: {{ value|e }}</h3>
            {% endfor %}
<!--
        </div>

    </body>
</html>
